*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family:'helvetica neue';
  color: #fff;

}

html, body{
  height: 100%;
  width: 100%;
}
body{
  background-color:#111;
  padding:10px;
  margin:10px 20px;
  border: 1px solid white;

}

#root{
   border: 1px solid white;
  padding:10px;
  text-align: center;
}